h1{
  text-align: center;
}

.list{

  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
}
.projektImg{

  width: 40%;
  height: 40%;
}

#description{
  margin-top: 2vh;
  width: 60%;

}
.projektButtons {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #20c997;
}

.projektButtons:hover {
  color: #113726;

}
.containerProjekt{
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

