<nav class="navbar navbar-expand-lg navbar-light ">

 <div class="collapse navbar-collapse" >
  <ul class="navbar-nav mr-auto">

    <li class="navbar-brand"><span routerLink="/projekte">Luca Gnoth</span> </li>

    <li class="nav-link"></li>

  </ul>
   <ul class="navbar-nav links">
     <li class="round"><a  class="link" (click)="goToLink('https://github.com/LucaLg')"><img class="logos" src="../../assets/img/GitHub-Mark-32px.png" alt="GitHub"></a>
     </li>
     <li class="round"> <a class="link" id="linkedin" (click)="goToLink('https://www.linkedin.com/in/luca-gn-842556168/')"><img class="logos" src="../../assets/img/icons8-linkedin-32.png" alt="LinkedIn"></a>
     </li>
   </ul>

  </div>

</nav>
