<h1>Impressum</h1>
<h2>Angaben gemäß § 5 TMG:</h2>
<p><br>Luca Gnoth</p>
<h3>Postanschrift:</h3>
<p><br>44534 Lünen<br></p>
<h3>Kontakt:</h3>
<p>Telefon: <br>E-Mail: lucal.gsec@gmail.com</p>
<p></p><p><br></p>
<p></p><h2>Hinweise zur Website</h2>
<p></p><h2>Information gemäß § 36 VSBG</h2>
<p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
<p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>





