
.hai{
  margin-top: 2vh;
  text-align: center;
}
.aboutimg{

  margin-top: 1vh;
  height: 15rem;
  width: 15rem;
  border-radius: 500px;
}
.about{
  margin-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#shortDes{
  padding-top: 5vh;
  margin-left: 10vw;
  width: 65%;
}
#projekteButton{
  height: 5vh;
  width: 10vw;
  margin-left: 10vw;
  border-radius: 50px;
  border: none;
  background-color: #20c997;
}
#projekteButton>mat-icon{
 vertical-align: middle;
}
.projektheading{
  margin-top: 1vw;
  text-align: center;
}




.projekt{
  margin-top: 2vh;
  margin-bottom: 20vh;

  width: 40em;
  height: 30em;
  position: relative;
}
.projektTitle{
  font-weight: bold;

  color: #ffffff;
  position: absolute;
  top:40%;
  left:15%;
  opacity: 1;
  text-align: center;

}
.projektTitle>mat-icon{
  vertical-align: middle;
}
.projektDes{
  color: #000000;
  position: absolute;
  top:50%;
  left:18%;
  opacity: 1;
  width: 50%;
}
.shadow{
  border-radius: 7px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  background-color: #5c636a;
}
.projekt-img{
  border-radius: 7px;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projekt:hover .shadow{

  opacity: 0.91;
  cursor: pointer;

}
.container{
  margin-top: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mobileLinks{

 display: none;
}
.mobileLinks>a{
  margin-left: 1vw;
}
@media (max-height: 700px), screen and (max-width: 995px){
  .projekt{
    width: 20em;
    height: 15em;
  }
  .projektDes{
    display: none;
  }
  #projekteButton{
    width: 20vw;
    height: 10vh;
    font-size: small;
  }
  .about{
    margin-top: 5vh;

  }
  .aboutimg{
    margin-left: 5vw;
  }
  .container{
    margin-top:30vh;
  }
  .mobileLinks{
    display: revert;
  }
}
#projekteButton:hover{
  transform: translateY(3px);
  background-color: #56f897;
  transition:  0.5s;
}

