/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body{
  background-color: rgba(34,42,53,0.92);

  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Sora, "Helvetica Neue", sans-serif;}
