<div class="container">
  <div class="timeline">
    <ul>
      <li>
        <div class="timeline-content">
          <h3 class="date">21.04.1998</h3>
          <h1>Geboren in Dortmund</h1>

        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h3 class="date">08/2004 – 07/2008</h3>
          <h1>
            Grundschule Kath. Grundschule Leoschule in Lünen
          </h1>

        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h3 class="date">08/2008 – 07/2016</h3>
          <h1>Gymnasium Freiherr vom Stein</h1>
          <p>Abschluss mit Allgemeiner Hochschulreife
          </p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h3 class="date">10/2016-today</h3>
          <h1>Bachelor-Studium Angewandte Informatik</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
